/* ================== SECTION ABOUT US ===================== */
.section-about-us{
  margin-bottom: 94px;
  &__container{
    flex-direction: column;

  }
  &__header{
    @extend %second-header;
  }
  &__list{
    @extend %lists;
    width: inherit;
    padding: inherit;
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  &__img{
    width: 370px;
    height: 294px;
  }
   &__element{
    position: relative;
  }
 
  &__title{
    @extend %third-header;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
  } 
}
/* ================== END SECTION ABOUT US ===================== */