/* =========================  SECTION TEAM ========================== */
.section-team {
  @extend %section;
  background-color: var(--team-bg-color);
  &__container {
    flex-direction: column;
  }
  &__header {
    @extend %second-header;
  }
  &__list {
    @extend %lists;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: inherit;
    padding: inherit;
  }
  &__element {
    background-color: var(--logo-white-color);
    width: 270px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
  &__img {
    width: 270px;
    height: 260px;
  }
  &__figcaption {
    padding: 30px 0 0 0;
    text-align: center;
    line-height: var(--line-height-small);
    color: var(--nav-second-color);
  }
  &__name{
    display: block;
    font-weight: 500;
    color: var(--main-txt-color);
    margin-bottom: 10px;
  }
  &__social-list{
    margin: 16px 32px 18px 32px;
  }
}
/* ================ END SECTION TEAM ============== */
