/* ---------- Navigation section --------- */


.menu {
  display: flex;
  align-items: center;
  
  &__item{
    @extend %lists;
      &:not(:last-child){
          margin-right: 46px;
      }
  }
  &__logo{
      margin-right:93px;
  }
  &__link{
    @extend %links;
    
  }
}
.navigation .links__item .active {
  color: var(--main-color);
  display: block;
  position: relative;
}
.navigation .links__item .active::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  display: block;
  position: absolute;
  bottom: -33px;
  border-radius: 2px;
}
/* ---------- Navigation section end------ */