/* ---------- Navigation section --------- */
.menu {
  display: flex;
  align-items: center;
  &__item{ 
    @extend %lists;
    &:first-of-type{
      margin-right:93px;
    }
    &:not(:last-of-type, :first-of-type){
       margin-right: 46px;
    }
      &--active{
       color: var(--main-color);
       position: relative;
    }
    &--active::after{
      content: "";
      height: 4px;
      width: 100%;
      background-color: var(--main-color);
      display: block;
      position: absolute;
      bottom: -31px;
      border-radius: 2px;
    }
  }
  &__link{
    @extend %links;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;  
    outline: none; 
    line-height: var(--line-height-small);
    &:hover,
    &:focus{
      color: var(--main-color);  
    } 
  }
}
/* ---------- Navigation section end------ */