/* ========================== Social Links ================== */
.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:first-of-type){
      margin-left: 10px;
    }
  }
  &__link{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: center;
    fill: rgba(175, 177, 184, 1);
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;

    &:hover, &:focus{
       background-color: rgba(33, 150, 243, 1);
       fill: rgba(255, 255, 255, 1);
    }
  }
  &__link--dark-theme{
    fill: var(--logo-white-color);
    background-color: rgba(255, 255, 255, 0.1);
    &:hover, &:focus{
      fill: var(--logo-white-color);
      background-color: var(--main-color);
    }
  }
}
/* ==================== END SOCIAL Links ======== */