.container {
  width: 1200px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
/* =========================== kontenery ============================= */

.links {
  display: flex;
  align-items: center;
}

.links .logo {
  margin-right: 93px;
}
.links__item:not(:last-child) {
  margin-right: 46px;
}
.order .container {
  flex-direction: column;
  text-align: center;
}
.order h1 {
  margin-bottom: 30px;
  width: 696px;
}
.order {
  padding: 200px 0;
}