/* Variables CSS*/
:root {
  --main-txt-color: rgba(33, 33, 33, 1);
  --buttons-first-color: rgba(245, 244, 250, 1);
  --main-color: rgba(33, 150, 243, 1);
  --logo-white-color: rgba(255, 255, 255, 1);
  --logo-dark-color: rgba(0, 0, 0, 1);
  --dark-motive: rgba(47, 48, 58, 1);
  --team-bg-color: rgba(245, 244, 250, 1);
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --nav-second-color: rgba(117, 117, 117, 1);
  --line-height-small: 1.172;
  --line-height-big: 1.714;
}